.card{
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0;
	border-radius: .475rem;
}


.card-header{
	color: #181c32;
	background-color: #fff;
}

.fw-bold{
	font-weight: 500!important;
}

.fw-bolder{
	font-weight: 600!important;
}

.text-muted{
	color: #a1a5b7;
}

.text-dark{
	color: #181c32;
}

.form-control-solid{
	background-color: #f5f8fa;
	border-color: #f5f8fa;
	color: #5e6278;
}

